/* Aqua Panel Skin CSS */
	 .yui-panel-container.shadow .underlay { background-color:#999; display: none; }
	 .yui-panel { position:relative; border:none; overflow:visible; background-color:transparent; }

	/* Apply styles to the close icon to anchor it to the left side of the header */
	 .yui-panel .container-close { top:3px; left:4px; height:18px; width:17px; background-image:url(/2112PowerWindows/assets/img/aqua-hd-close.gif);}
	 .yui-panel .container-close:hover { background-image:url(/2112PowerWindows/assets/img/aqua-hd-close-over.gif); }

	/* Style the header and apply the rounded corners, center the text */
	 .yui-panel .hd 
	{ font-size:72%; 
	  
	  /*vertical-align:top;*/
	  padding:0; 
	  border:none; 
	  background:transparent url(/2112PowerWindows/assets/img/aqua-hd-bg.gif); 	  
	  color:#000; 
	  height:14px; 
	  margin-left:7px; 
	  margin-right:7px; 
	  text-align:center; 
	  overflow:visible; 
    }
	 .yui-panel .hd span {  vertical-align:top;  line-height:14px; }
	 .yui-panel .hd .tl { width:7px; height:14px; top:0; 
				left:0; background:transparent url(/2112PowerWindows/assets/img/aqua-hd-lt.gif); position:absolute; }
	 .yui-panel .hd .tr { width:7px; height:14px; top:0; 
				right:0; background:transparent url(/2112PowerWindows/assets/img/aqua-hd-rt.gif); position:absolute; }

	/* Style the body and footer */
	 .yui-panel .bd 
    { overflow:hidden; 
      padding:2px; 
      border:1px solid #aeaeae; 
      background-color:#ECECEC; 
    }
	 .yui-panel .ft { font-size:50%; color:#666; padding:2px; overflow:hidden; border:1px solid #aeaeae; border-top:none; background-color:#dfdfdf; }

	 .yui-panel .snapInTitle {font-size:75%;}  